@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montreal";
  src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Akhbar";
  src: url("/fonts/AkhbarBold.ttf") format("truetype");
}

@font-face {
  font-family: "Mortend";
  src: url("/fonts/Mortend-Extra-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Grotesk";
  src: url("/FamiljenGrotesk-SemiBold.otf") format("opentype");
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

* {
}

body {
  /* background-color: #03232d9c; */
  /* background-color: #a9cbce; */
  /* background-color: #f3691f; */
  /* background-color: #5ea163; */
  /* background-color: #ffa04d; */
  /* background: #15151e; */
  background: #fefce1;
  /* background: #fdf9ef; */
  /* background: #e43b13; */
  /* background: #ff4613; */
  /* background: #ff4400; */
  /* background: #232332; */
  /* background-color: rgba(0, 0, 0, 0.926); */
  /* background-color: rgba(0, 0, 0, 0.672); */
  /* background-color: #e3e4dd; */
  /* background-color: #ffacdf; */
  /* background-color: #1e1e1e; */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-top: env(safe-area-inset-top, 20px);
  padding-right: env(safe-area-inset-right, 1em);
  padding-bottom: env(safe-area-inset-bottom, 0.5vh);
  padding-left: env(safe-area-inset-left, 1.4rem);
}

img {
  max-width: 100%;
  height: auto;
}
