@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #172530;
  background-color: #a9cbce;
  /* background-color: #f3691f; */
  background-color: #5ea163;
  /* background-color: #ffa04d; */
  /* background: #15151e; */
  background: #232332;
  /* background: white; */
}

img {
  max-width: 100%;
  height: auto;
}
