@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #7bff00;
  background-color: #a9cbce;
  background-color: #f3691f;
  /* background-color: #5ea163; */
  /* background-color: #ffa04d; */
  /* background: #15151e; */
}

img {
  max-width: 100%;
  height: auto;
}
