.loader {
  width: 600px;
  height: 600px;
  animation: spin 4s linear infinite;
}

.path {
  stroke-linecap: round;
  animation: dash 6s ease-in-out infinite;
  stroke: #000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -100; /* Adjust this value */
  }
  75% {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -150; /* Adjust this value */
  }
  100% {
    stroke-dasharray: 200, 200;
    stroke-dashoffset: -200; /* Adjust this value */
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-slide {
  animation: slide 7s linear infinite;
}
