.loader {
  width: 600px;
  height: 600px;
  animation: spin 4s linear infinite;
}

.path {
  stroke: #ffffff;
  stroke-linecap: round;
  animation: dash 4.8s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 150, 150;
    stroke-dashoffset: -150;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-slide {
  animation: slide 5s linear infinite;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
